.scrolling-page {
  position: relative;
  height: 500px;
  overflow: hidden;
  padding: 20px;
  font-size: 100px;
  background-color: #18181b;
}

.carousel {
  height: 500px;
  align-items: center;
  background-color: #18181b;
}
.streaming-container {
  background-color: black;
}

.ui-container {
  background-color: #18181b;
  color: white;
}

.modal {
  background-color: #18181b;
}

.banner-text {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 20px;
}

.header-text:link {
  color: #a970ff;
  font-size: xx-large;
  font-weight: bolder;
}

.streaming-container {
  margin-right: 50px;
  background-color: transparent;
}

.stream-description {
  margin-left: 50px;
  margin-top: 50px;
}

#twitch-player-r1wmz {
  margin: auto;
  text-align: center;
}

.video-player {
  margin: auto;
  text-align: center;
}
.Carousel .ButtonWrapper.Prev .Button {
  left: 0;
  filter: drop-shadow(3px 3px 3px #a970ff);
  opacity: 50 !important;
}
.Carousel .ButtonWrapper.Next .Button {
  filter: drop-shadow(3px 3px 3px #a970ff);
  opacity: 50 !important;
}

.MuiTouchRipple-root {
  opacity: 10 !important;
}

.ui.button {
  margin: 20px 5px 5px 5px;
}

.question.circle.icon {
  font-size: 200%;
  margin: auto;
}

.ui.modal {
  width: 50%;
  height: 100%;
  padding-top: 20%;
  background-color: transparent;
  transition: 'scale';
}

ui.active.dimmer {
  width: 100%;
}

.item {
  float: left;
}

.question.circle.icon:hover {
  filter: drop-shadow(3px 3px 3px cyan) invert(100%);
  cursor: pointer;
}

.stream-form {
  width: min(300px);
  margin-left: 30px;
}

.ui.form .field > label {
  color: white;
}

.user-streaming {
  width: 55%;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 679px) {
  .user-streaming {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 840px) {
  .Carousel .ButtonWrapper.Prev .Button {
    left: 0;
    filter: drop-shadow(3px 3px 3px #a970ff);
    opacity: 0 !important;
  }
  .Carousel .ButtonWrapper.Next .Button {
    filter: drop-shadow(3px 3px 3px #a970ff);
    opacity: 0 !important;
  }
}
